/* Listing page. */
#staff-listing .staff-listing-item { background:#FFF; width:215px; float:left; margin:10px; border:1px solid #EEE; -moz-border-radius: 5px; }
#staff-listing .staff-listing-item .staff-listing-member-departments,
#staff-listing .staff-listing-item .staff-listing-member-image,
#staff-listing .staff-listing-item .staff-listing-member-title,
#staff-listing .staff-listing-item .staff-listing-member-name { padding:0px 10px; }
#staff-listing .staff-listing-item .staff-listing-member-image { padding:10px; text-align:center; }
#staff-listing .staff-listing-item .staff-listing-member-name a { color:#000; font:bold 15px Helvetica; }
#staff-listing .staff-listing-item .staff-listing-member-title { color:#000; font:normal 12px Helvetica; }
#staff-listing .staff-listing-item .staff-listing-member-content { color:#000; font:normal 12px Helvetica; height:130px; padding:10px; }
#staff-listing .staff-listing-item .staff-listing-member-departments { color:#000; font:normal 12px Helvetica; padding:10px; }

/* Single Page */
#staff-listing-single .staff-listing-member { background:#FFF; margin:10px; border:1px solid #EEE; -moz-border-radius:5px; padding:10px; }
#staff-listing-single .staff-listing-member .staff-listing-departments,
#staff-listing-single .staff-listing-member .staff-listing-image,
#staff-listing-single .staff-listing-member .staff-listing-title,
#staff-listing-single .staff-listing-member .staff-listing-name { padding:0px 10px; }
#staff-listing-single .staff-listing-member .staff-listing-image { text-align:center; float:left; margin-right:10px; }
#staff-listing-single .staff-listing-member .staff-listing-name a { color:#000; font:bold 16px Helvetica; }
#staff-listing-single .staff-listing-member .staff-listing-title { color:#000; font:normal 14px Helvetica; }
#staff-listing-single .staff-listing-member .staff-listing-content { color:#000; font:normal 12px Helvetica; padding:10px; }
#staff-listing-single .staff-listing-member .staff-listing-departments { color:#000; font:normal 12px Helvetica; padding:10px; }
